################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.config
/bin
/error.md
/req.txt
/rule.md
/obj
